<div class="modal fade" id="bookModal" tabIndex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="f.form.valid && saveBook()">

        <div class="modal-header">
          <h5 class="modal-title">Book Details</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <div class="alert alert-danger" *ngIf="errorMessage">
            <strong>Error!</strong> {{errorMessage}}
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              [(ngModel)]="book.title"
              #title="ngModel"
              required
            />
            <div class="alert-danger" *ngIf="f.submitted && !title.valid">
              Book title is required.
            </div>
          </div>

          <div class="form-group">
            <label for="author">Author</label>
            <input
              type="text"
              id="author"
              name="author"
              class="form-control"
              [(ngModel)]="book.author"
              #author="ngModel"
              required
            />
            <div class="alert-danger" *ngIf="f.submitted && !author.valid">
              Book author is required.
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              [(ngModel)]="book.price"
              #price="ngModel"
              required
            />
            <div class="alert-danger" *ngIf="f.submitted && (!price.valid || book.price <= 0)">
              Price is required and should be greater than 0.
            </div>
          </div>


          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="textarea"
              class="form-control"
              [(ngModel)]="book.description"
              #description="ngModel"
              required
            ></textarea>
            <div class="alert-danger" *ngIf="f.submitted && !description.valid">
              Description is required.
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>

      </form>
    </div>
  </div>
</div>
